{{ if .Site.Data.content.Interests }}
<div class="sideSection">
    <div class="sideSection__heading">
        <h2 class="sideSection__title">Centre d'intérêts</h2>
    </div>
    <div class="sideSection__content">
        <ul class="interests">
            {{ range .Site.Data.content.Interests }}
            <li class="interests__item">{{ . | safeHTML }}</li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}
